
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(129, 178, 194);
}
.content-container, footer, .main-header{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #47748f;
}
.navbar{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0em;
}
.nav-link{
    color: #ffffff;
}
#header-left{
    float: left;
    font-family: 'Georgia',Times, 'Times New Roman', serif;
    background-color: #47748f;
    color: #ffffff;
}
a{
    padding: 15px;
    text-decoration: none;
}
.flexer{
    flex: 1 0 auto;
    min-height: 100vh;
}
.content-container{
    background-color: #ffffff;
    margin-top: 6em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dddddd;
}
#content-heading{
    font-family: 'Georgia',Times, 'Times New Roman', serif;
    color: #47748f;
    border-bottom: 4px solid #dddddd;
    margin-top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#contents{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding-bottom: 20px;
    line-height: 1.5;
}
#profile-pic{
    float: left;
    margin-right: 30px;
}
#texts{
    vertical-align: top;
    line-height: 1.5;
}
.text-input{
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 30px;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #777777;

}
.gallery-item{
    position: relative;
    margin-right: 2em;
    margin-left: 2em;
}
textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 99%;
    height: 200px;
    color: #777777;
    border-color: #bbbbbb;
}
.submit{
    background-color: #47748f;
    color: #ffffff;
    max-width: 100px;
    height: 40px;
    font-size: medium;
}
.text-block{
    position: absolute;
    background-color: #47748f;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: center;
    bottom: 20%;
    right: 0;
    left: 1.9em;
}
footer{
    text-align: center;
    background-color: #47748f;
    font-size: small;
    height: 50px;
    color: #ffffff;
    flex-shrink: 0;
}